# Linux
build:linux_x86_64 --cxxopt=-std=c++17
build:linux_x86_64 --host_cxxopt=-std=c++17
build:linux_x86_64 --copt=-w
build:linux_x86_64 --linkopt=-lstdc++fs
build:linux_x86_64 --copt=-DENABLE_SSE
build:linux_x86_64 --define cpu=amd64
build:linux_x86_64 --define cpu_arch=x86_64
build:linux_x86_64 --define microsoft-apsi=true
build:linux_x86_64 --copt=-maes
build:linux_x86_64 --copt=-msse2
build:linux_x86_64 --copt=-msse3
build:linux_x86_64 --copt=-msse4.1
build:linux_x86_64 --copt=-mpclmul
#build:linux_x86_64 --define enable_mysql_driver=true

build:linux_aarch64 --cxxopt=-std=c++17
build:linux_aarch64 --host_cxxopt=-std=c++17
build:linux_aarch64 --copt=-w
build:linux_aarch64 --linkopt=-lstdc++fs
build:linux_aarch64 --define cpu=arm64
build:linux_aarch64 --define cpu_arch=aarch64
build:linux_aarch64 --define microsoft-apsi=true
#build:linux_aarch64 --define enable_mysql_driver=false

build:linux_asan --copt=-DENABLE_SSE
build:linux_asan --define cpu=amd64
build:linux_asan --define cpu_arch=x86_64
build:linux_asan --cxxopt=-std=c++17
build:linux_asan --host_cxxopt=-std=c++17
build:linux_asan --copt=-w
build:linux_asan --linkopt=-lstdc++fs
build:linux_asan --strip=never
build:linux_asan --copt -fno-sanitize-recover=all
build:linux_asan --copt -fsanitize=address
build:linux_asan --copt -Og
build:linux_asan --copt -g
build:linux_asan --copt -fno-omit-frame-pointer
build:linux_asan --linkopt -fsanitize=address
build:linux_asan --linkopt -static-libasan
build:linux_asan --copt=-maes
build:linux_asan --copt=-msse2
build:linux_asan --copt=-msse3
build:linux_asan --copt=-msse4.1
build:linux_asan --copt=-mpclmul
build:linux_asan --define enable_mysql_driver=true


# Enable remote execution so actions are performed on the remote systems.
build:remote --remote_executor=grpc://118.190.39.100:27941

# windows
build:windows --cxxopt=/std:c++14
build:windows --host_cxxopt=/std:c++14
build:windows --copt=/w
# For using M_* math constants on Windows with MSVC.
build:windows --copt=/D_USE_MATH_DEFINES
build:windows --host_copt=/D_USE_MATH_DEFINES

# macOS
build:macos --cxxopt=-std=c++17
build:macos --host_cxxopt=-std=c++17
build:macos --copt=-w
build:macos --copt=-force_flat_namespace
build:macos --define macos-build=true

# Sets the default Apple platform to macOS.
build --apple_platform_type=macos

# Allow debugging with XCODE
build --apple_generate_dsym


# MacOS configs.
build:darwin_x86_64 --apple_platform_type=macos
build:darwin_x86_64 --macos_minimum_os=10.16
build:darwin_x86_64 --define cpu=amd64
build:darwin_x86_64 --copt=-DENABLE_SSE
build:darwin_x86_64 --define macos-build=true
build:darwin_x86_64 --define cpu_arch=darwin_x86_64
build:darwin_x86_64 --define enable_mysql_driver=false
build:darwin_x86_64 --cxxopt=-std=c++17
build:darwin_x86_64 --copt=-w
build:darwin_x86_64 --copt=-force_flat_namespace
build:darwin_x86_64 --define macos-build=true
build:darwin_x86_64 --copt=-DZSTD_DISABLE_ASM

# MacOS Big Sur with Apple Silicon M1
build:darwin_arm64 --apple_platform_type=macos
build:darwin_arm64 --macos_minimum_os=10.16
build:darwin_arm64 --define cpu=arm64
build:darwin_arm64 --define macos-build=true
build:darwin_arm64 --define cpu_arch=darwin_arm64
build:darwin_arm64 --define enable_mysql_driver=false
build:darwin_arm64 --cxxopt=-std=c++17
build:darwin_arm64 --copt=-w
build:darwin_arm64 --copt=-force_flat_namespace
build:darwin_arm64 --define macos-build=true
build:darwin_arm64 --define microsoft-apsi=true

# MacOS Monterey with Apple M1
build:darwin --apple_platform_type=macos
build:darwin --macos_minimum_os=12.3.1
build:darwin --cpu=darwin
build:darwin --define macos-build=true
